.flex {
  display: flex;
}

.info-box {
justify-content: center;
align-items: center;
font-size: 20px;
}

.color-display {
  border-style: dotted;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-style {
  border-style: dotted;
  height: 80px;
  width: 80px;
}

.mini-box {
  border-style: dotted;
  height: 20px;
  width: 20px;
}

.lock-size {
  border-style: dotted;
  height: 5vh;
}

main {
  border-style: dashed;
  height: 100vh;
  width: 70%;
}

header {
  justify-content: center;
}

div {
  border: 3px solid black;
}

#right-section {
  align-items: center;
  width: 30%;
  border-style: dashed;
  flex-direction: column;
}

#saved-box {
  width: 60%;
  flex-direction: column;
  align-items: center;
}

#palette-box {
  width: 60%;
  justify-content: space-evenly;

}

#left-section {
  justify-content: center;
}

#color-1 {
  border-style: dotted;
}

#buttons {
  justify-content: center;
  gap: 7em;
  margin-top: 5vh;
  border-style: dotted;
}
