.flex {
  display: flex;
}

#left-section {
  justify-content: center;
}

.info-box {
justify-content: center;
align-items: center;
font-size: 20px;
}

.color-display {
  border-style: dotted;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-style {
  border-style: dotted;
  height: 80px;
  width: 80px;
  background: blue;
}

#color-1 {
  border-style: dotted;
}

.lock-size {
  border-style: dotted;
  height: 5vh
}

main {
  border-style: dashed;
  height: 100vh;
  width: 60vw;
}

header {
  justify-content: center;
}
#buttons {
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 5vh;
  border-style: dotted;
}

#right-section {
  justify-content: center;
  width: 40vw;
  border-style: dashed;
}
/* body {
  height: 100vh;
  width: 100vw;
} */

div {
  border: 3px solid black;
}
